body {
    color: black;
    background-color: white;
}

h1 {
    color: rgb(56, 56, 56);
}

h3 {
    color: rgb(56, 56, 56);
}

figcaption {
    color: gray;
}

h4 {
    color: rgb(56, 56, 56);
}

b {
    color: rgb(56, 56, 56);
}